{% extends 'Shop/layouts/main.html' %}

{% block content %}
<div class="py-3 bg-primary">
    <div class="container">
        <a  class="text-white"   href=" {% url 'Index' %}">Home /</a>
        <a  class="text-white"   href=" {% url 'myorders' %}">MyOrders</a>
       
    </div>
</div>


<div class="container mt-3">
    <div class="row">
      <div class="col-md-12 ">
            <div class="card shadow checkoutform">
                <div class="card-header">
                    <h3>MyOrders</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Order-Date
                                </th>
                                <th>
                                    Tracking-No
                                </th>
                                <th>
                                    Total-Price
                                </th>
                                <th>
                                  Status
                                </th>
                                <th>
                                    action
                                  </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in orders %}
                           

                            <tr>
                                <td>
                                    {{item.created_on}}
                                </td>
                                <td>
                                    {{item.tracking_no}}
                                </td>
                                <td>
                                    {{item.total_price}}
                                </td>
                                <td>
                                {{item.status}}
                                </td>
                                <td>
                                    <a class="btn btn-primary" href="{% url 'orderview' item.tracking_no  %}" >View</a>
                                  </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>                   

{% endblock content %}