{% extends 'Shop/layouts/main.html' %}

{% block content %}

{% include 'Shop/inc/slider.html' %}



<div class="container my-5">
    <div class="row">
        <div class="col-12-md">
            <h3 style="text-align:center;">Trending Items</h3>
         <hr>
            <div class="row">
            {% for item in trending  %}
            
            
                <div class="col-md-4">
                
                
                    <div class="card" >
                        <a href=" {% url 'productview' item.category.slug item.slug %}">
                        
                        <div class="card-body">
                            <div class='category-image'>

                              <img  class="img-responsive" src="{{ item.product_image.url }}" alt="category image"   style="width:70%;">
                            </div>    
                        <h4 class="text-center"> {{ item.name }} </h4>
                    </a>
                        <span class="text-left">
                            {{item.selling_price}}
                        </span>
                        <span>
                            {% if products.quantity > 0 %}
                                  <button  type="button" class="btn btn-primary me-3 float-start addToCartBtn">Add to cart <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                                  </svg></button>
                                {% else %}
                                <button  type="button" class="btn btn-danger me-3 float-start addToCartBtn">Out Of Stock <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>

                              {% endif %}
                        </span>
                        </div>
                      
                
                    </div>    
                </div>  
        
            {% endfor %}
    
        </div>
    
    </div> 

</div>   
</div>
</div>


{% include 'Shop/inc/banner.html' %}

{% include 'Shop/inc/cardslider.html' %}

{% include 'shop/inc/footer.html' %}

{% endblock content %}


